<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{nonuser/layouts/layout-user :: layout(~{::main})}">
<head>
    <title>JSP - Hello World</title>
</head>
<body>
<main id="main" class="main">
    <img th:src="@{/static/assets/img/main.png}"
         alt="Main Background"
         style="
         width: 100%;
         height: 100%;
         object-fit: cover;
         display: block;
         margin: 0;
         padding: 0;
       " />
</main>
</body>
</html>